# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site
site/

# MkDocs Material cache
.cache/

# Obsidian files
.obsidian/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer,
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
node_modules/.package-lock.json
node_modules/.bin/prettier
node_modules/@prettier/plugin-xml/CHANGELOG.md
node_modules/@prettier/plugin-xml/CODE_OF_CONDUCT.md
node_modules/@prettier/plugin-xml/LICENSE
node_modules/@prettier/plugin-xml/package.json
node_modules/@prettier/plugin-xml/README.md
node_modules/@prettier/plugin-xml/src/embed.js
node_modules/@prettier/plugin-xml/src/languages.js
node_modules/@prettier/plugin-xml/src/parser.js
node_modules/@prettier/plugin-xml/src/plugin.js
node_modules/@prettier/plugin-xml/src/printer.js
node_modules/@prettier/plugin-xml/types/plugin.d.ts
node_modules/@xml-tools/parser/api.d.ts
node_modules/@xml-tools/parser/LICENSE
node_modules/@xml-tools/parser/package.json
node_modules/@xml-tools/parser/README.md
node_modules/@xml-tools/parser/.reuse/dep5
node_modules/@xml-tools/parser/LICENSES/Apache-2.0.txt
node_modules/chevrotain/CHANGELOG.md
node_modules/chevrotain/LICENSE.txt
node_modules/chevrotain/package.json
node_modules/chevrotain/README.md
node_modules/chevrotain/diagrams/diagrams.css
node_modules/chevrotain/diagrams/README.md
node_modules/chevrotain/diagrams/src/diagrams_behavior.js
node_modules/chevrotain/diagrams/src/diagrams_builder.js
node_modules/chevrotain/diagrams/src/diagrams_serializer.js
node_modules/chevrotain/diagrams/src/main.js
node_modules/chevrotain/diagrams/vendor/railroad-diagrams.js
node_modules/chevrotain/lib_esm/src/api.js
node_modules/chevrotain/lib_esm/src/api.js.map
node_modules/chevrotain/lib_esm/src/version.js
node_modules/chevrotain/lib_esm/src/version.js.map
node_modules/chevrotain/lib_esm/src/diagrams/render_public.js
node_modules/chevrotain/lib_esm/src/diagrams/render_public.js.map
node_modules/chevrotain/lib_esm/src/generate/generate_public.js
node_modules/chevrotain/lib_esm/src/generate/generate_public.js.map
node_modules/chevrotain/lib_esm/src/generate/generate.js
node_modules/chevrotain/lib_esm/src/generate/generate.js.map
node_modules/chevrotain/lib_esm/src/lang/lang_extensions.js
node_modules/chevrotain/lib_esm/src/lang/lang_extensions.js.map
node_modules/chevrotain/lib_esm/src/parse/constants.js
node_modules/chevrotain/lib_esm/src/parse/constants.js.map
node_modules/chevrotain/lib_esm/src/parse/errors_public.js
node_modules/chevrotain/lib_esm/src/parse/errors_public.js.map
node_modules/chevrotain/lib_esm/src/parse/exceptions_public.js
node_modules/chevrotain/lib_esm/src/parse/exceptions_public.js.map
node_modules/chevrotain/lib_esm/src/parse/cst/cst_visitor.js
node_modules/chevrotain/lib_esm/src/parse/cst/cst_visitor.js.map
node_modules/chevrotain/lib_esm/src/parse/cst/cst.js
node_modules/chevrotain/lib_esm/src/parse/cst/cst.js.map
node_modules/chevrotain/lib_esm/src/parse/grammar/checks.js
node_modules/chevrotain/lib_esm/src/parse/grammar/checks.js.map
node_modules/chevrotain/lib_esm/src/parse/grammar/first.js
node_modules/chevrotain/lib_esm/src/parse/grammar/first.js.map
node_modules/chevrotain/lib_esm/src/parse/grammar/follow.js
node_modules/chevrotain/lib_esm/src/parse/grammar/follow.js.map
node_modules/chevrotain/lib_esm/src/parse/grammar/interpreter.js
node_modules/chevrotain/lib_esm/src/parse/grammar/interpreter.js.map
node_modules/chevrotain/lib_esm/src/parse/grammar/keys.js
node_modules/chevrotain/lib_esm/src/parse/grammar/keys.js.map
node_modules/chevrotain/lib_esm/src/parse/grammar/lookahead.js
node_modules/chevrotain/lib_esm/src/parse/grammar/lookahead.js.map
node_modules/chevrotain/lib_esm/src/parse/grammar/resolver.js
node_modules/chevrotain/lib_esm/src/parse/grammar/resolver.js.map
node_modules/chevrotain/lib_esm/src/parse/grammar/rest.js
node_modules/chevrotain/lib_esm/src/parse/grammar/rest.js.map
node_modules/chevrotain/lib_esm/src/parse/grammar/gast/gast_public.js
node_modules/chevrotain/lib_esm/src/parse/grammar/gast/gast_public.js.map
node_modules/chevrotain/lib_esm/src/parse/grammar/gast/gast_resolver_public.js
node_modules/chevrotain/lib_esm/src/parse/grammar/gast/gast_resolver_public.js.map
node_modules/chevrotain/lib_esm/src/parse/grammar/gast/gast_visitor_public.js
node_modules/chevrotain/lib_esm/src/parse/grammar/gast/gast_visitor_public.js.map
node_modules/chevrotain/lib_esm/src/parse/grammar/gast/gast.js
node_modules/chevrotain/lib_esm/src/parse/grammar/gast/gast.js.map
node_modules/chevrotain/lib_esm/src/parse/parser/parser.js
node_modules/chevrotain/lib_esm/src/parse/parser/parser.js.map
node_modules/chevrotain/lib_esm/src/parse/parser/traits/context_assist.js
node_modules/chevrotain/lib_esm/src/parse/parser/traits/context_assist.js.map
node_modules/chevrotain/lib_esm/src/parse/parser/traits/error_handler.js
node_modules/chevrotain/lib_esm/src/parse/parser/traits/error_handler.js.map
node_modules/chevrotain/lib_esm/src/parse/parser/traits/gast_recorder.js
node_modules/chevrotain/lib_esm/src/parse/parser/traits/gast_recorder.js.map
node_modules/chevrotain/lib_esm/src/parse/parser/traits/lexer_adapter.js
node_modules/chevrotain/lib_esm/src/parse/parser/traits/lexer_adapter.js.map
node_modules/chevrotain/lib_esm/src/parse/parser/traits/looksahead.js
node_modules/chevrotain/lib_esm/src/parse/parser/traits/looksahead.js.map
node_modules/chevrotain/lib_esm/src/parse/parser/traits/parser_traits.js
node_modules/chevrotain/lib_esm/src/parse/parser/traits/parser_traits.js.map
node_modules/chevrotain/lib_esm/src/parse/parser/traits/perf_tracer.js
node_modules/chevrotain/lib_esm/src/parse/parser/traits/perf_tracer.js.map
node_modules/chevrotain/lib_esm/src/parse/parser/traits/recognizer_api.js
node_modules/chevrotain/lib_esm/src/parse/parser/traits/recognizer_api.js.map
node_modules/chevrotain/lib_esm/src/parse/parser/traits/recognizer_engine.js
node_modules/chevrotain/lib_esm/src/parse/parser/traits/recognizer_engine.js.map
node_modules/chevrotain/lib_esm/src/parse/parser/traits/recoverable.js
node_modules/chevrotain/lib_esm/src/parse/parser/traits/recoverable.js.map
node_modules/chevrotain/lib_esm/src/parse/parser/traits/tree_builder.js
node_modules/chevrotain/lib_esm/src/parse/parser/traits/tree_builder.js.map
node_modules/chevrotain/lib_esm/src/scan/lexer_errors_public.js
node_modules/chevrotain/lib_esm/src/scan/lexer_errors_public.js.map
node_modules/chevrotain/lib_esm/src/scan/lexer_public.js
node_modules/chevrotain/lib_esm/src/scan/lexer_public.js.map
node_modules/chevrotain/lib_esm/src/scan/lexer.js
node_modules/chevrotain/lib_esm/src/scan/lexer.js.map
node_modules/chevrotain/lib_esm/src/scan/reg_exp_parser.js
node_modules/chevrotain/lib_esm/src/scan/reg_exp_parser.js.map
node_modules/chevrotain/lib_esm/src/scan/reg_exp.js
node_modules/chevrotain/lib_esm/src/scan/reg_exp.js.map
node_modules/chevrotain/lib_esm/src/scan/tokens_constants.js
node_modules/chevrotain/lib_esm/src/scan/tokens_constants.js.map
node_modules/chevrotain/lib_esm/src/scan/tokens_public.js
node_modules/chevrotain/lib_esm/src/scan/tokens_public.js.map
node_modules/chevrotain/lib_esm/src/scan/tokens.js
node_modules/chevrotain/lib_esm/src/scan/tokens.js.map
node_modules/chevrotain/lib_esm/src/text/range.js
node_modules/chevrotain/lib_esm/src/text/range.js.map
node_modules/chevrotain/lib_esm/src/utils/utils.js
node_modules/chevrotain/lib_esm/src/utils/utils.js.map
node_modules/chevrotain/src/api.ts
node_modules/chevrotain/src/version.ts
node_modules/chevrotain/src/diagrams/render_public.ts
node_modules/chevrotain/src/generate/generate_public.ts
node_modules/chevrotain/src/generate/generate.ts
node_modules/chevrotain/src/lang/lang_extensions.ts
node_modules/chevrotain/src/parse/constants.ts
node_modules/chevrotain/src/parse/errors_public.ts
node_modules/chevrotain/src/parse/exceptions_public.ts
node_modules/chevrotain/src/parse/cst/cst_visitor.ts
node_modules/chevrotain/src/parse/cst/cst.ts
node_modules/chevrotain/src/parse/grammar/checks.ts
node_modules/chevrotain/src/parse/grammar/first.ts
node_modules/chevrotain/src/parse/grammar/follow.ts
node_modules/chevrotain/src/parse/grammar/interpreter.ts
node_modules/chevrotain/src/parse/grammar/keys.ts
node_modules/chevrotain/src/parse/grammar/lookahead.ts
node_modules/chevrotain/src/parse/grammar/resolver.ts
node_modules/chevrotain/src/parse/grammar/rest.ts
node_modules/chevrotain/src/parse/grammar/gast/gast_public.ts
node_modules/chevrotain/src/parse/grammar/gast/gast_resolver_public.ts
node_modules/chevrotain/src/parse/grammar/gast/gast_visitor_public.ts
node_modules/chevrotain/src/parse/grammar/gast/gast.ts
node_modules/chevrotain/src/parse/parser/parser.ts
node_modules/chevrotain/src/parse/parser/traits/context_assist.ts
node_modules/chevrotain/src/parse/parser/traits/error_handler.ts
node_modules/chevrotain/src/parse/parser/traits/gast_recorder.ts
node_modules/chevrotain/src/parse/parser/traits/lexer_adapter.ts
node_modules/chevrotain/src/parse/parser/traits/looksahead.ts
node_modules/chevrotain/src/parse/parser/traits/parser_traits.ts
node_modules/chevrotain/src/parse/parser/traits/perf_tracer.ts
node_modules/chevrotain/src/parse/parser/traits/README.md
node_modules/chevrotain/src/parse/parser/traits/recognizer_api.ts
node_modules/chevrotain/src/parse/parser/traits/recognizer_engine.ts
node_modules/chevrotain/src/parse/parser/traits/recoverable.ts
node_modules/chevrotain/src/parse/parser/traits/tree_builder.ts
node_modules/chevrotain/src/scan/lexer_errors_public.ts
node_modules/chevrotain/src/scan/lexer_public.ts
node_modules/chevrotain/src/scan/lexer.ts
node_modules/chevrotain/src/scan/reg_exp_parser.ts
node_modules/chevrotain/src/scan/reg_exp.ts
node_modules/chevrotain/src/scan/tokens_constants.ts
node_modules/chevrotain/src/scan/tokens_public.ts
node_modules/chevrotain/src/scan/tokens.ts
node_modules/chevrotain/src/text/range.ts
node_modules/chevrotain/src/utils/utils.ts
node_modules/prettier/doc.d.ts
node_modules/prettier/doc.js
node_modules/prettier/doc.mjs
node_modules/prettier/index.cjs
node_modules/prettier/index.d.ts
node_modules/prettier/index.mjs
node_modules/prettier/LICENSE
node_modules/prettier/package.json
node_modules/prettier/README.md
node_modules/prettier/standalone.d.ts
node_modules/prettier/standalone.js
node_modules/prettier/standalone.mjs
node_modules/prettier/THIRD-PARTY-NOTICES.md
node_modules/prettier/bin/prettier.cjs
node_modules/prettier/internal/experimental-cli-worker.mjs
node_modules/prettier/internal/experimental-cli.mjs
node_modules/prettier/internal/legacy-cli.mjs
node_modules/prettier/plugins/acorn.d.ts
node_modules/prettier/plugins/acorn.js
node_modules/prettier/plugins/acorn.mjs
node_modules/prettier/plugins/angular.d.ts
node_modules/prettier/plugins/angular.js
node_modules/prettier/plugins/angular.mjs
node_modules/prettier/plugins/babel.d.ts
node_modules/prettier/plugins/babel.js
node_modules/prettier/plugins/babel.mjs
node_modules/prettier/plugins/estree.d.ts
node_modules/prettier/plugins/estree.js
node_modules/prettier/plugins/estree.mjs
node_modules/prettier/plugins/flow.d.ts
node_modules/prettier/plugins/flow.js
node_modules/prettier/plugins/flow.mjs
node_modules/prettier/plugins/glimmer.d.ts
node_modules/prettier/plugins/glimmer.js
node_modules/prettier/plugins/glimmer.mjs
node_modules/prettier/plugins/graphql.d.ts
node_modules/prettier/plugins/graphql.js
node_modules/prettier/plugins/graphql.mjs
node_modules/prettier/plugins/html.d.ts
node_modules/prettier/plugins/html.js
node_modules/prettier/plugins/html.mjs
node_modules/prettier/plugins/markdown.d.ts
node_modules/prettier/plugins/markdown.js
node_modules/prettier/plugins/markdown.mjs
node_modules/prettier/plugins/meriyah.d.ts
node_modules/prettier/plugins/meriyah.js
node_modules/prettier/plugins/meriyah.mjs
node_modules/prettier/plugins/postcss.d.ts
node_modules/prettier/plugins/postcss.js
node_modules/prettier/plugins/postcss.mjs
node_modules/prettier/plugins/typescript.d.ts
node_modules/prettier/plugins/typescript.js
node_modules/prettier/plugins/typescript.mjs
node_modules/prettier/plugins/yaml.d.ts
node_modules/prettier/plugins/yaml.js
node_modules/prettier/plugins/yaml.mjs
node_modules/regexp-to-ast/api.d.ts
node_modules/regexp-to-ast/CHANGELOG.md
node_modules/regexp-to-ast/LICENSE
node_modules/regexp-to-ast/package.json
node_modules/regexp-to-ast/README.md
uv.lock
.envrc
